[submodule "external/PyTorch-for-Deep-Learning-and-Computer-Vision-Course-All-Codes-"]
	path = external/PyTorch-for-Deep-Learning-and-Computer-Vision-Course-All-Codes-
	url = https://github.com/rslim087a/PyTorch-for-Deep-Learning-and-Computer-Vision-Course-All-Codes-.git
